WebPasswordGenerator/Service References/WcfPasswordGenerator/PasswordGenerator1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:12319/PasswordGenerator.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetPasswords">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="characters" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="minSize" type="xs:int" />
        <xs:element minOccurs="0" name="maxSize" type="xs:int" />
        <xs:element minOccurs="0" name="numberPasswords" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPasswordsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPasswordsResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>